
html {
    box-sizing: border-box
}

*,*:before,*:after {
    box-sizing: inherit
}


html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

article,aside,details,figcaption,figure,footer,header,main,menu,nav,section {
    display: block
}

summary {
    display: list-item
}

audio,canvas,progress,video {
    display: inline-block
}

progress {
    vertical-align: baseline
}

audio:not([controls]) {
    display: none;
    height: 0
}

[hidden],template {
    display: none
}

a {
    background-color: transparent
}

a:active,a:hover {
    outline-width: 0
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted
}

b,strong {
    font-weight: bolder
}

dfn {
    font-style: italic
}

mark {
    background: #ff0;
    color: #000
}

small {
    font-size: 80%
}

sub,sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -0.25em
}

sup {
    top: -0.5em
}

figure {
    margin: 1em 40px
}

img {
    border-style: none
}

code,kbd,pre,samp {
    font-family: monospace,monospace;
    font-size: 1em
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

button,input,select,textarea,optgroup {
    font: inherit;
    margin: 0
}

optgroup {
    font-weight: bold
}

button,input {
    overflow: visible
}

button,select {
    text-transform: none
}

button,[type=button],[type=reset],[type=submit] {
    -webkit-appearance: button
}

button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner {
    border-style: none;
    padding: 0
}

button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring {
    outline: 1px dotted ButtonText
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: .35em .625em .75em
}

legend {
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal
}

textarea {
    overflow: auto
}

[type=checkbox],[type=radio] {
    padding: 0
}

[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}


html,body {
    font-family: Verdana,sans-serif;
    font-size: 15px;
    line-height: 1.5
}

html {
    overflow-x: hidden
}

h1 {
    font-size: 36px
}

h2 {
    font-size: 30px
}

h3 {
    font-size: 24px
}

h4 {
    font-size: 20px
}

h5 {
    font-size: 18px
}

h6 {
    font-size: 16px
}

.frost-serif {
    font-family: serif
}

.frost-sans-serif {
    font-family: sans-serif
}

.frost-cursive {
    font-family: cursive
}

.frost-monospace {
    font-family: monospace
}

h1,h2,h3,h4,h5,h6 {
    font-family: "Segoe UI",Arial,sans-serif;
    font-weight: 400;
    margin: 10px 0
}

.frost-wide {
    letter-spacing: 4px
}

hr {
    border: 0;
    border-top: 1px solid #eee;
    margin: 20px 0
}

.frost-image {
    max-width: 100%;
    height: auto
}

img {
    vertical-align: middle
}

a {
    color: inherit
}

.frost-table,.frost-table-all {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    display: table
}

.frost-table-all {
    border: 1px solid #ccc
}

.frost-bordered tr,.frost-table-all tr {
    border-bottom: 1px solid #ddd
}

.frost-striped tbody tr:nth-child(even) {
    background-color: #f1f1f1
}

.frost-table-all tr:nth-child(odd) {
    background-color: #fff
}

.frost-table-all tr:nth-child(even) {
    background-color: #f1f1f1
}

.frost-hoverable tbody tr:hover,.frost-ul.frost-hoverable li:hover {
    background-color: #ccc
}

.frost-centered tr th,.frost-centered tr td {
    text-align: center
}

.frost-table td,.frost-table th,.frost-table-all td,.frost-table-all th {
    padding: 8px 8px;
    display: table-cell;
    text-align: left;
    vertical-align: top
}

.frost-table th:first-child,.frost-table td:first-child,.frost-table-all th:first-child,.frost-table-all td:first-child {
    padding-left: 16px
}

.frost-btn,.frost-button {
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap
}

.frost-btn:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)
}

.frost-btn,.frost-button {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.frost-disabled,.frost-btn:disabled,.frost-button:disabled {
    cursor: not-allowed;
    opacity: 0.3
}

.frost-disabled *,:disabled * {
    pointer-events: none
}

.frost-btn.frost-disabled:hover,.frost-btn:disabled:hover {
    box-shadow: none
}

.frost-badge,.frost-tag {
    background-color: #000;
    color: #fff;
    display: inline-block;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center
}

.frost-badge {
    border-radius: 50%
}

.frost-ul {
    list-style-type: none;
    padding: 0;
    margin: 0
}

.frost-ul li {
    padding: 8px 16px;
    border-bottom: 1px solid #ddd
}

.frost-ul li:last-child {
    border-bottom: none
}

.frost-tooltip,.frost-display-container {
    position: relative
}

.frost-tooltip .frost-text {
    display: none
}

.frost-tooltip:hover .frost-text {
    display: inline-block
}

.frost-ripple:active {
    opacity: 0.5
}

.frost-ripple {
    transition: opacity 0s
}

.frost-input {
    padding: 8px;
    display: block;
    border: none;
    border-bottom: 1px solid #ccc;
    width: 100%
}

.frost-select {
    padding: 9px 0;
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc
}

.frost-dropdown-click,.frost-dropdown-hover {
    position: relative;
    display: inline-block;
    cursor: pointer
}

.frost-dropdown-hover:hover .frost-dropdown-content {
    display: block
}

.frost-dropdown-hover:first-child,.frost-dropdown-click:hover {
    background-color: #ccc;
    color: #000
}

.frost-dropdown-hover:hover > .frost-button:first-child,.frost-dropdown-click:hover > .frost-button:first-child {
    background-color: #ccc;
    color: #000
}

.frost-dropdown-content {
    cursor: auto;
    color: #000;
    background-color: #fff;
    display: none;
    position: absolute;
    min-width: 160px;
    margin: 0;
    padding: 0;
    z-index: 1
}

.frost-check,.frost-radio {
    width: 24px;
    height: 24px;
    position: relative;
    top: 6px
}

.frost-sidebar {
    height: 100%;
    width: 200px;
    background-color: #fff;
    position: fixed!important;
    z-index: 1;
    overflow: auto
}

.frost-bar-block .frost-dropdown-hover,.frost-bar-block .frost-dropdown-click {
    width: 100%
}

.frost-bar-block .frost-dropdown-hover .frost-dropdown-content,.frost-bar-block .frost-dropdown-click .frost-dropdown-content {
    min-width: 100%
}

.frost-bar-block .frost-dropdown-hover .frost-button,.frost-bar-block .frost-dropdown-click .frost-button {
    width: 100%;
    text-align: left;
    padding: 8px 16px
}

.frost-main,#main {
    transition: margin-left .4s
}

.frost-modal {
    z-index: 3;
    display: none;
    padding-top: 100px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4)
}

.frost-modal-content {
    margin: auto;
    background-color: #fff;
    position: relative;
    padding: 0;
    outline: 0;
    width: 600px
}

.frost-bar {
    width: 100%;
    overflow: hidden
}

.frost-center .frost-bar {
    display: inline-block;
    width: auto
}

.frost-bar .frost-bar-item {
    padding: 8px 16px;
    float: left;
    width: auto;
    border: none;
    display: block;
    outline: 0
}

.frost-bar .frost-dropdown-hover,.frost-bar .frost-dropdown-click {
    position: static;
    float: left
}

.frost-bar .frost-button {
    white-space: normal
}

.frost-bar-block .frost-bar-item {
    width: 100%;
    display: block;
    padding: 8px 16px;
    text-align: left;
    border: none;
    white-space: normal;
    float: none;
    outline: 0
}

.frost-bar-block.frost-center .frost-bar-item {
    text-align: center
}

.frost-block {
    display: block;
    width: 100%
}

.frost-responsive {
    display: block;
    overflow-x: auto
}

.frost-container:after,.frost-container:before,.frost-panel:after,.frost-panel:before,.frost-row:after,.frost-row:before,.frost-row-padding:after,.frost-row-padding:before, .frost-cell-row:before,.frost-cell-row:after,.frost-clear:after,.frost-clear:before,.frost-bar:before,.frost-bar:after {
    content: "";
    display: table;
    clear: both
}

.frost-col,.frost-half,.frost-third,.frost-twothird,.frost-threequarter,.frost-quarter {
    float: left;
    width: 100%
}

.frost-col.s1 {
    width: 8.33333%
}

.frost-col.s2 {
    width: 16.66666%
}

.frost-col.s3 {
    width: 24.99999%
}

.frost-col.s4 {
    width: 33.33333%
}

.frost-col.s5 {
    width: 41.66666%
}

.frost-col.s6 {
    width: 49.99999%
}

.frost-col.s7 {
    width: 58.33333%
}

.frost-col.s8 {
    width: 66.66666%
}

.frost-col.s9 {
    width: 74.99999%
}

.frost-col.s10 {
    width: 83.33333%
}

.frost-col.s11 {
    width: 91.66666%
}

.frost-col.s12 {
    width: 99.99999%
}

@media (min-width: 601px) {
    .frost-col.m1 {
        width:8.33333%
    }

    .frost-col.m2 {
        width: 16.66666%
    }

    .frost-col.m3,.frost-quarter {
        width: 24.99999%
    }

    .frost-col.m4,.frost-third {
        width: 33.33333%
    }

    .frost-col.m5 {
        width: 41.66666%
    }

    .frost-col.m6,.frost-half {
        width: 49.99999%
    }

    .frost-col.m7 {
        width: 58.33333%
    }

    .frost-col.m8,.frost-twothird {
        width: 66.66666%
    }

    .frost-col.m9,.frost-threequarter {
        width: 74.99999%
    }

    .frost-col.m10 {
        width: 83.33333%
    }

    .frost-col.m11 {
        width: 91.66666%
    }

    .frost-col.m12 {
        width: 99.99999%
    }
}

@media (min-width: 993px) {
    .frost-col.l1 {
        width:8.33333%
    }

    .frost-col.l2 {
        width: 16.66666%
    }

    .frost-col.l3 {
        width: 24.99999%
    }

    .frost-col.l4 {
        width: 33.33333%
    }

    .frost-col.l5 {
        width: 41.66666%
    }

    .frost-col.l6 {
        width: 49.99999%
    }

    .frost-col.l7 {
        width: 58.33333%
    }

    .frost-col.l8 {
        width: 66.66666%
    }

    .frost-col.l9 {
        width: 74.99999%
    }

    .frost-col.l10 {
        width: 83.33333%
    }

    .frost-col.l11 {
        width: 91.66666%
    }

    .frost-col.l12 {
        width: 99.99999%
    }
}

.frost-rest {
    overflow: hidden
}

.frost-stretch {
    margin-left: -16px;
    margin-right: -16px
}

.frost-content,.frost-auto {
    margin-left: auto;
    margin-right: auto
}

.frost-content {
    max-width: 980px
}

.frost-auto {
    max-width: 1140px
}

.frost-cell-row {
    display: table;
    width: 100%
}

.frost-cell {
    display: table-cell
}

.frost-cell-top {
    vertical-align: top
}

.frost-cell-middle {
    vertical-align: middle
}

.frost-cell-bottom {
    vertical-align: bottom
}

.frost-hide {
    display: none!important
}

.frost-show-block,.frost-show {
    display: block!important
}

.frost-show-inline-block {
    display: inline-block!important
}

@media (max-width: 1205px) {
    .frost-auto {
        max-width:95%
    }
}

@media (max-width: 600px) {
    .frost-modal-content {
        margin:0 10px;
        width: auto!important
    }

    .frost-modal {
        padding-top: 30px
    }

    .frost-dropdown-hover.frost-mobile .frost-dropdown-content,.frost-dropdown-click.frost-mobile .frost-dropdown-content {
        position: relative
    }

    .frost-hide-small {
        display: none!important
    }

    .frost-mobile {
        display: block;
        width: 100%!important
    }

    .frost-bar-item.frost-mobile,.frost-dropdown-hover.frost-mobile,.frost-dropdown-click.frost-mobile {
        text-align: center
    }

    .frost-dropdown-hover.frost-mobile,.frost-dropdown-hover.frost-mobile .frost-btn,.frost-dropdown-hover.frost-mobile .frost-button,.frost-dropdown-click.frost-mobile,.frost-dropdown-click.frost-mobile .frost-btn,.frost-dropdown-click.frost-mobile .frost-button {
        width: 100%
    }
}

@media (max-width: 768px) {
    .frost-modal-content {
        width:500px
    }

    .frost-modal {
        padding-top: 50px
    }
}

@media (min-width: 993px) {
    .frost-modal-content {
        width:900px
    }

    .frost-hide-large {
        display: none!important
    }

    .frost-sidebar.frost-collapse {
        display: block!important
    }
}

@media (max-width: 992px) and (min-width:601px) {
    .frost-hide-medium {
        display:none!important
    }
}

@media (max-width: 992px) {
    .frost-sidebar.frost-collapse {
        display:none
    }

    .frost-main {
        margin-left: 0!important;
        margin-right: 0!important
    }

    .frost-auto {
        max-width: 100%
    }
}

.frost-top,.frost-bottom {
    position: fixed;
    width: 100%;
    z-index: 1
}

.frost-top {
    top: 0
}

.frost-bottom {
    bottom: 0
}

.frost-overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2
}

.frost-display-topleft {
    position: absolute;
    left: 0;
    top: 0
}

.frost-display-topright {
    position: absolute;
    right: 0;
    top: 0
}

.frost-display-bottomleft {
    position: absolute;
    left: 0;
    bottom: 0
}

.frost-display-bottomright {
    position: absolute;
    right: 0;
    bottom: 0
}

.frost-display-middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%)
}

.frost-display-left {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(0%,-50%);
    -ms-transform: translate(-0%,-50%)
}

.frost-display-right {
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(0%,-50%);
    -ms-transform: translate(0%,-50%)
}

.frost-display-topmiddle {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%,0%);
    -ms-transform: translate(-50%,0%)
}

.frost-display-bottommiddle {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%,0%);
    -ms-transform: translate(-50%,0%)
}

.frost-display-container:hover .frost-display-hover {
    display: block
}

.frost-display-container:hover span.frost-display-hover {
    display: inline-block
}

.frost-display-hover {
    display: none
}

.frost-display-position {
    position: absolute
}

.frost-circle {
    border-radius: 50%
}

.frost-round-small {
    border-radius: 2px
}

.frost-round,.frost-round-medium {
    border-radius: 4px
}

.frost-round-large {
    border-radius: 8px
}

.frost-round-xlarge {
    border-radius: 16px
}

.frost-round-xxlarge {
    border-radius: 32px
}

.frost-row-padding,.frost-row-padding>.frost-half,.frost-row-padding>.frost-third,.frost-row-padding>.frost-twothird,.frost-row-padding>.frost-threequarter,.frost-row-padding>.frost-quarter,.frost-row-padding>.frost-col {
    padding: 0 8px
}

.frost-container,.frost-panel {
    padding: 0.01em 16px
}

.frost-panel {
    margin-top: 16px;
    margin-bottom: 16px
}

.frost-code,.frost-codespan {
    font-family: Consolas,"courier new";
    font-size: 16px
}

.frost-code {
    width: auto;
    background-color: #fff;
    padding: 8px 12px;
    border-left: 4px solid #4CAF50;
    word-wrap: break-word
}

.frost-codespan {
    color: crimson;
    background-color: #f1f1f1;
    padding-left: 4px;
    padding-right: 4px;
    font-size: 110%
}

.frost-card,.frost-card-2 {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)
}

.frost-card-4,.frost-hover-shadow:hover {
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)
}

.frost-spin {
    animation: frost-spin 2s infinite linear
}

@keyframes frost-spin {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(359deg)
    }
}

.frost-animate-fading {
    animation: fading 10s infinite
}

@keyframes fading {
    0% {
        opacity: 0
    }

    50% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}

.frost-animate-opacity {
    animation: opac 0.8s
}

@keyframes opac {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.frost-animate-top {
    position: relative;
    animation: animatetop 0.4s
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

.frost-animate-left {
    position: relative;
    animation: animateleft 0.4s
}

@keyframes animateleft {
    from {
        left: -300px;
        opacity: 0
    }

    to {
        left: 0;
        opacity: 1
    }
}

.frost-animate-right {
    position: relative;
    animation: animateright 0.4s
}

@keyframes animateright {
    from {
        right: -300px;
        opacity: 0
    }

    to {
        right: 0;
        opacity: 1
    }
}

.frost-animate-bottom {
    position: relative;
    animation: animatebottom 0.4s
}

@keyframes animatebottom {
    from {
        bottom: -300px;
        opacity: 0
    }

    to {
        bottom: 0;
        opacity: 1
    }
}

.frost-animate-zoom {
    animation: animatezoom 0.6s
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

.frost-animate-input {
    transition: width 0.4s ease-in-out
}

.frost-animate-input:focus {
    width: 100%!important
}

.frost-opacity,.frost-hover-opacity:hover {
    opacity: 0.60
}

.frost-opacity-off,.frost-hover-opacity-off:hover {
    opacity: 1
}

.frost-opacity-max {
    opacity: 0.25
}

.frost-opacity-min {
    opacity: 0.75
}

.frost-greyscale-max,.frost-grayscale-max,.frost-hover-greyscale:hover,.frost-hover-grayscale:hover {
    filter: grayscale(100%)
}

.frost-greyscale,.frost-grayscale {
    filter: grayscale(75%)
}

.frost-greyscale-min,.frost-grayscale-min {
    filter: grayscale(50%)
}

.frost-sepia {
    filter: sepia(75%)
}

.frost-sepia-max,.frost-hover-sepia:hover {
    filter: sepia(100%)
}

.frost-sepia-min {
    filter: sepia(50%)
}

.frost-tiny {
    font-size: 10px!important
}

.frost-small {
    font-size: 12px!important
}

.frost-medium {
    font-size: 15px!important
}

.frost-large {
    font-size: 18px!important
}

.frost-xlarge {
    font-size: 24px!important
}

.frost-xxlarge {
    font-size: 36px!important
}

.frost-xxxlarge {
    font-size: 48px!important
}

.frost-jumbo {
    font-size: 64px!important
}

.frost-left-align {
    text-align: left!important
}

.frost-right-align {
    text-align: right!important
}

.frost-justify {
    text-align: justify!important
}

.frost-center {
    text-align: center!important
}

.frost-border-0 {
    border: 0!important
}

.frost-border {
    border: 1px solid #ccc!important
}

.frost-border-top {
    border-top: 1px solid #ccc!important
}

.frost-border-bottom {
    border-bottom: 1px solid #ccc!important
}

.frost-border-left {
    border-left: 1px solid #ccc!important
}

.frost-border-right {
    border-right: 1px solid #ccc!important
}

.frost-topbar {
    border-top: 6px solid #ccc!important
}

.frost-bottombar {
    border-bottom: 6px solid #ccc!important
}

.frost-leftbar {
    border-left: 6px solid #ccc!important
}

.frost-rightbar {
    border-right: 6px solid #ccc!important
}

.frost-section,.frost-code {
    margin-top: 16px!important;
    margin-bottom: 16px!important
}

.frost-margin {
    margin: 16px!important
}

.frost-margin-top {
    margin-top: 16px!important
}

.frost-margin-bottom {
    margin-bottom: 16px!important
}

.frost-margin-left {
    margin-left: 16px!important
}

.frost-margin-right {
    margin-right: 16px!important
}

.frost-padding-small {
    padding: 4px 8px!important
}

.frost-padding {
    padding: 8px 16px!important
}

.frost-padding-large {
    padding: 12px 24px!important
}

.frost-padding-16 {
    padding-top: 16px!important;
    padding-bottom: 16px!important
}

.frost-padding-24 {
    padding-top: 24px!important;
    padding-bottom: 24px!important
}

.frost-padding-32 {
    padding-top: 32px!important;
    padding-bottom: 32px!important
}

.frost-padding-48 {
    padding-top: 48px!important;
    padding-bottom: 48px!important
}

.frost-padding-64 {
    padding-top: 64px!important;
    padding-bottom: 64px!important
}

.frost-padding-top-64 {
    padding-top: 64px!important
}

.frost-padding-top-48 {
    padding-top: 48px!important
}

.frost-padding-top-32 {
    padding-top: 32px!important
}

.frost-padding-top-24 {
    padding-top: 24px!important
}

.frost-left {
    float: left!important
}

.frost-right {
    float: right!important
}

.frost-button:hover {
    color: #000!important;
    background-color: #ccc!important
}

.frost-transparent,.frost-hover-none:hover {
    background-color: transparent!important
}

.frost-hover-none:hover {
    box-shadow: none!important
}


.frost-amber,.frost-hover-amber:hover {
    color: #000!important;
    background-color: #ffc107!important
}

.frost-aqua,.frost-hover-aqua:hover {
    color: #000!important;
    background-color: #00ffff!important
}

.frost-blue,.frost-hover-blue:hover {
    color: #fff!important;
    background-color: #2196F3!important
}

.frost-light-blue,.frost-hover-light-blue:hover {
    color: #000!important;
    background-color: #87CEEB!important
}

.frost-brown,.frost-hover-brown:hover {
    color: #fff!important;
    background-color: #795548!important
}

.frost-cyan,.frost-hover-cyan:hover {
    color: #000!important;
    background-color: #00bcd4!important
}

.frost-blue-grey,.frost-hover-blue-grey:hover,.frost-blue-gray,.frost-hover-blue-gray:hover {
    color: #fff!important;
    background-color: #607d8b!important
}

.frost-green,.frost-hover-green:hover {
    color: #fff!important;
    background-color: #4CAF50!important
}

.frost-light-green,.frost-hover-light-green:hover {
    color: #000!important;
    background-color: #8bc34a!important
}

.frost-indigo,.frost-hover-indigo:hover {
    color: #fff!important;
    background-color: #3f51b5!important
}

.frost-khaki,.frost-hover-khaki:hover {
    color: #000!important;
    background-color: #f0e68c!important
}

.frost-lime,.frost-hover-lime:hover {
    color: #000!important;
    background-color: #cddc39!important
}

.frost-orange,.frost-hover-orange:hover {
    color: #000!important;
    background-color: #ff9800!important
}

.frost-deep-orange,.frost-hover-deep-orange:hover {
    color: #fff!important;
    background-color: #ff5722!important
}

.frost-pink,.frost-hover-pink:hover {
    color: #fff!important;
    background-color: #e91e63!important
}

.frost-purple,.frost-hover-purple:hover {
    color: #fff!important;
    background-color: #9c27b0!important
}

.frost-deep-purple,.frost-hover-deep-purple:hover {
    color: #fff!important;
    background-color: #673ab7!important
}

.frost-red,.frost-hover-red:hover {
    color: #fff!important;
    background-color: #f44336!important
}

.frost-sand,.frost-hover-sand:hover {
    color: #000!important;
    background-color: #fdf5e6!important
}

.frost-teal,.frost-hover-teal:hover {
    color: #fff!important;
    background-color: #009688!important
}

.frost-yellow,.frost-hover-yellow:hover {
    color: #000!important;
    background-color: #ffeb3b!important
}

.frost-white,.frost-hover-white:hover {
    color: #000!important;
    background-color: #fff!important
}

.frost-black,.frost-hover-black:hover {
    color: #fff!important;
    background-color: #000!important
}

.frost-grey,.frost-hover-grey:hover,.frost-gray,.frost-hover-gray:hover {
    color: #000!important;
    background-color: #9e9e9e!important
}

.frost-light-grey,.frost-hover-light-grey:hover,.frost-light-gray,.frost-hover-light-gray:hover {
    color: #000!important;
    background-color: #f1f1f1!important
}

.frost-dark-grey,.frost-hover-dark-grey:hover,.frost-dark-gray,.frost-hover-dark-gray:hover {
    color: #fff!important;
    background-color: #616161!important
}

.frost-pale-red,.frost-hover-pale-red:hover {
    color: #000!important;
    background-color: #ffdddd!important
}

.frost-pale-green,.frost-hover-pale-green:hover {
    color: #000!important;
    background-color: #ddffdd!important
}

.frost-pale-yellow,.frost-hover-pale-yellow:hover {
    color: #000!important;
    background-color: #ffffcc!important
}

.frost-pale-blue,.frost-hover-pale-blue:hover {
    color: #000!important;
    background-color: #ddffff!important
}

.frost-text-amber,.frost-hover-text-amber:hover {
    color: #ffc107!important
}

.frost-text-aqua,.frost-hover-text-aqua:hover {
    color: #00ffff!important
}

.frost-text-blue,.frost-hover-text-blue:hover {
    color: #2196F3!important
}

.frost-text-light-blue,.frost-hover-text-light-blue:hover {
    color: #87CEEB!important
}

.frost-text-brown,.frost-hover-text-brown:hover {
    color: #795548!important
}

.frost-text-cyan,.frost-hover-text-cyan:hover {
    color: #00bcd4!important
}

.frost-text-blue-grey,.frost-hover-text-blue-grey:hover,.frost-text-blue-gray,.frost-hover-text-blue-gray:hover {
    color: #607d8b!important
}

.frost-text-green,.frost-hover-text-green:hover {
    color: #4CAF50!important
}

.frost-text-light-green,.frost-hover-text-light-green:hover {
    color: #8bc34a!important
}

.frost-text-indigo,.frost-hover-text-indigo:hover {
    color: #3f51b5!important
}

.frost-text-khaki,.frost-hover-text-khaki:hover {
    color: #b4aa50!important
}

.frost-text-lime,.frost-hover-text-lime:hover {
    color: #cddc39!important
}

.frost-text-orange,.frost-hover-text-orange:hover {
    color: #ff9800!important
}

.frost-text-deep-orange,.frost-hover-text-deep-orange:hover {
    color: #ff5722!important
}

.frost-text-pink,.frost-hover-text-pink:hover {
    color: #e91e63!important
}

.frost-text-purple,.frost-hover-text-purple:hover {
    color: #9c27b0!important
}

.frost-text-deep-purple,.frost-hover-text-deep-purple:hover {
    color: #673ab7!important
}

.frost-text-red,.frost-hover-text-red:hover {
    color: #f44336!important
}

.frost-text-sand,.frost-hover-text-sand:hover {
    color: #fdf5e6!important
}

.frost-text-teal,.frost-hover-text-teal:hover {
    color: #009688!important
}

.frost-text-yellow,.frost-hover-text-yellow:hover {
    color: #d2be0e!important
}

.frost-text-white,.frost-hover-text-white:hover {
    color: #fff!important;
    background-color: #000!important
}

.frost-text-black,.frost-hover-text-black:hover {
    color: #000!important
}

.frost-text-grey,.frost-hover-text-grey:hover,.frost-text-gray,.frost-hover-text-gray:hover {
    color: #757575!important
}

.frost-text-light-grey,.frost-hover-text-light-grey:hover,.frost-text-light-gray,.frost-hover-text-light-gray:hover {
    color: #f1f1f1!important
}

.frost-text-dark-grey,.frost-hover-text-dark-grey:hover,.frost-text-dark-gray,.frost-hover-text-dark-gray:hover {
    color: #3a3a3a!important
}

.frost-border-amber,.frost-hover-border-amber:hover {
    border-color: #ffc107!important
}

.frost-border-aqua,.frost-hover-border-aqua:hover {
    border-color: #00ffff!important
}

.frost-border-blue,.frost-hover-border-blue:hover {
    border-color: #2196F3!important
}

.frost-border-light-blue,.frost-hover-border-light-blue:hover {
    border-color: #87CEEB!important
}

.frost-border-brown,.frost-hover-border-brown:hover {
    border-color: #795548!important
}

.frost-border-cyan,.frost-hover-border-cyan:hover {
    border-color: #00bcd4!important
}

.frost-border-blue-grey,.frost-hover-border-blue-grey:hover,.frost-border-blue-gray,.frost-hover-border-blue-gray:hover {
    border-color: #607d8b!important
}

.frost-border-green,.frost-hover-border-green:hover {
    border-color: #4CAF50!important
}

.frost-border-light-green,.frost-hover-border-light-green:hover {
    border-color: #8bc34a!important
}

.frost-border-indigo,.frost-hover-border-indigo:hover {
    border-color: #3f51b5!important
}

.frost-border-khaki,.frost-hover-border-khaki:hover {
    border-color: #f0e68c!important
}

.frost-border-lime,.frost-hover-border-lime:hover {
    border-color: #cddc39!important
}

.frost-border-orange,.frost-hover-border-orange:hover {
    border-color: #ff9800!important
}

.frost-border-deep-orange,.frost-hover-border-deep-orange:hover {
    border-color: #ff5722!important
}

.frost-border-pink,.frost-hover-border-pink:hover {
    border-color: #e91e63!important
}

.frost-border-purple,.frost-hover-border-purple:hover {
    border-color: #9c27b0!important
}

.frost-border-deep-purple,.frost-hover-border-deep-purple:hover {
    border-color: #673ab7!important
}

.frost-border-red,.frost-hover-border-red:hover {
    border-color: #f44336!important
}

.frost-border-sand,.frost-hover-border-sand:hover {
    border-color: #fdf5e6!important
}

.frost-border-teal,.frost-hover-border-teal:hover {
    border-color: #009688!important
}

.frost-border-yellow,.frost-hover-border-yellow:hover {
    border-color: #ffeb3b!important
}

.frost-border-white,.frost-hover-border-white:hover {
    border-color: #fff!important
}

.frost-border-black,.frost-hover-border-black:hover {
    border-color: #000!important
}

.frost-border-grey,.frost-hover-border-grey:hover,.frost-border-gray,.frost-hover-border-gray:hover {
    border-color: #9e9e9e!important
}

.frost-border-light-grey,.frost-hover-border-light-grey:hover,.frost-border-light-gray,.frost-hover-border-light-gray:hover {
    border-color: #f1f1f1!important
}

.frost-border-dark-grey,.frost-hover-border-dark-grey:hover,.frost-border-dark-gray,.frost-hover-border-dark-gray:hover {
    border-color: #616161!important
}

.frost-border-pale-red,.frost-hover-border-pale-red:hover {
    border-color: #ffe7e7!important
}

.frost-border-pale-green,.frost-hover-border-pale-green:hover {
    border-color: #e7ffe7!important
}

.frost-border-pale-yellow,.frost-hover-border-pale-yellow:hover {
    border-color: #ffffcc!important
}

.frost-border-pale-blue,.frost-hover-border-pale-blue:hover {
    border-color: #e7ffff!important
}
